<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com-badrit-macaddress"
  version="0.2.0">
  <name>Bluetooth visibility plug in</name>
  <description>Cordova Bluetooth Visibility Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,bluetooth</keywords>


  <js-module src="Bluetooth.js" name="Bluetooth">
    <clobbers target="window.Bluetooth" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BtVisibilityPlugin">
        <param name="android-package" value="org.apache.cordova.plugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.BLUETOOTH" />

      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    </config-file>

    <source-file src="BluetoothPlugin.java" target-dir="src/com/badrit/MacAddress/" />
  </platform>

  <!-- ios -->
  <platform name="ios">
   <config-file target="config.xml" parent="/*">
     <feature name="BtVisibilityPlugin">
       <param name="ios-package" value="BtVisibilityPlugin" />
     </feature>
   </config-file>

   <header-file src="src/ios/BtVisibilityPlugin.h" />
   <source-file src="src/ios/BtVisibilityPlugin.m" />
 </platform>

</plugin>
